<!-- <main>
    <section class="latest-news">
        <ul>
          <li>
          <img [src]="productos.imagen" [alt]="productos.Nombre" height="300px" width="300px">
          <h3>{{productos.Tipo}}</h3>
          <p>{{productos.Fabricante}}</p>
          <p>{{productos.Expecificaciones}}</p>
          <p>{{productos.Precio}}</p>
          <p>{{productos.Gama}}</p>
          <p>{{productos.Descripcion}}</p>
          <p>{{productos.Categoria}}</p>
          <p>{{productos.Puntuacion}}</p>
          </li>
        </ul>
      </section>
    </main> -->
    
    <div class="wrapper">
      <div class="product-img">
          <img [src]="productos.imagen" [alt]="productos.Nombre">
      </div>
      <div class="product-info">
        
          <div class="product-text">
              <h1>{{productos.Nombre}}</h1>
              <p>{{productos.Descripcion}}</p>
          </div>
          <div class="product-price-btn">
              <p><span>$ {{productos.Precio}} COP </span></p>
          </div>
      </div>
  </div>
  