<main>
    <section class="latest-news">
        <ul class="card-grid">
          <ul class="list-container">
          <li class="market">
            <a [href]="cursos.url">
              <img [src]="cursos.imagen" [alt]="" height="300px" width="300px">
            </a>
            <h2 class="titulo">{{cursos.titulo}}</h2>
          <h3 class="descripcion">{{cursos.descripcion}}</h3>
          <p class="parrafo">{{cursos.duracion}}</p>
          </li>
          </ul>
        </ul>
      </section>
    </main> 