@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
h1{
    text-align: center;
    color: black;
    font-size:x-large;
    font-family: 'Montserrat';
}
h2{
    text-align: center;
    color: black;
    font-size:x-large;
    font-family: 'Montserrat';
}
h3{
    text-align: center;
    color: black;
    font-family: 'Montserrat';
}

